luahelper-lsp/log.txt
luahelper-vscode/log.txt
luahelper-lsp/luahelper-lsp.exe
luahelper-lsp/.idea/luahelper-lsp.iml
luahelper-lsp/.idea/modules.xml
luahelper-lsp/.idea/vcs.xml
luahelper-lsp/pkg/
luahelper-lsp/bin/
pkg/
bin/
.DS_Store
__debug_bin*